*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 20px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
fieldset {
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  margin: 10px 0;
  display: table;
}
input,
textarea,
select {
  font-size: inherit;
  line-height: inherit;
}
input,
textarea {
  margin: 0 10px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input::-ms-clear {
  visibility: hidden;
}
input::-ms-reveal {
  visibility: hidden;
}
::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #ccc;
}
.error {
  border-color: #a66;
  background-color: #fcc;
  color: #f00;
}
.errorMsg {
  color: #f00;
  font-weight: bold;
}
button {
  margin: 0;
  padding: 3px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: inherit;
  line-height: inherit;
}
button[disabled] {
  cursor: not-allowed;
  border-color: red;
  color: red;
  opacity: 0.5;
}
