body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
fieldset {
  margin: 20px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  margin: 10px 0;
  display: table;
}
input, textarea, select {
  font-size: inherit;
  line-height: inherit;
}
input, textarea {
  margin: 0 10px;
  padding: 3px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.error {
  border-color: #a66;
  background-color: #fcc;
  color: #f00;
}
.errorMsg {
  color: #f00;
  font-weight: bold;
}
button {
  margin: 0 5px;
  padding: 3px 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: inherit;
  line-height: inherit;
}
button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}
